<html >
    <head>
        <title>Main</title>
        <link rel = "stylesheet"type="text/css" href="/style.css" >
    </head>
    <body>
        <h1 class="title_up" >SUBTE TU FOTO</h1>
        <img  class="img_upload" src="https://res.cloudinary.com/alexmendezf/image/upload/v1576407734/final/152_seu6b9.jpg">
        <!--<button type="button" style="position: absolute; width: 169px; height: 50px; left: 397px; top: 587px; background: #F09595;">Take it</button>-->
        <button class="but_red"  type="button" onClick="location.href='/up'">Upload!</button>
        

    
    
    </body>
</html>


