* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal; 
    font-weight: normal; 
    text-align: center;
}
body {
    padding: 100px 0;
    background: rgba(54, 181, 176,0.2);
}

h1 {
    /* margin-bottom: 30px; */
    font-size: 145px; 
    font-family: 'Lobster Two', cursive;
}

.title_up {
    margin-bottom: 120px;
    font-size: 135px; 
    line-height: 96px; 
    text-align: center; 
    color: #000000; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title_home{
    margin-top: -33px;
    margin-bottom: 55px;
    font-size: 120px;
    color: #000000;
    text-align: center;
}
.text_desc{
    font-size: 20px; 
    color: #000000;
}

.container{
    width: 40vw;
}

@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.2); }
    to { transform: none; }
}

.init_button{
    width: 155px;
    height: 155px;
    background: rgb(58, 170, 184);
    border-radius: 50%;
    border: 8px solid #ffb375;
    display: block;
    margin: 40px auto 40px;
    font-size: 37px;
    font-family: 'Lobster Two', cursive;
    color: #fff4ee;
    animation: latidos 1s infinite;
	transform-origin: center;
}

.init_img{
    width: 40vw;
    border-radius: 30px;
    object-fit: cover;
    margin: auto 0;
}
.img_upload{
    width: 333px; 
    height: 362px; 
    border-radius: 30px;
    display: block;
    margin: 80px auto;
}
.but_red{
    width: 150px;
    height: 50px;
    background: #F09595;
    border-radius: 30px;
    text-align: center;
    margin: 0 12px;
    transition: background-color 1s, 
                color 1s;
    font-family: 'Lobster Two';
    margin-top: 8px;
    font-size: 25px;
}
.but_red:hover{
    background-color: #C92258;
    color: whitesmoke;
    cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.form_but{
    display: flex;
    justify-content: center;
}
.lc{
    font-family: 'Lobster Two';
    margin-top: 8px;
    font-size: 25px;
}
.start-view{
    display: flex;
    justify-content: space-evenly
}
h3{
    text-align: center;
    text-transform: capitalize;
}
.gif_error_no_img {
    width: 333px;
    /* height: 362px; */
    border-radius: 30px;
    display: block;
    margin: 80px auto;
}
.extensions{
    margin-top: 30px;
}