<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="static/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
        <title>Register</title>
    </head>
    <body>
        <div class="login_button">
            <a href="/" >🏠</a>
        </div>
        <div class="login">
            <h2>Welcome</h2>
                    <form  class="form" action="/login" method="POST">
                                <input type="text" value="" placeholder="username" name="username">
                                <input type="password" class="login-field" value="" placeholder="password" name="pass">
                                <input type="submit" value="Log in" class="submit">
                                <p>Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.</p>
                    </form>
                    

        </div>
    </body>
</html>


<!-- 
<div class="login">
    <h2>Welcome</h2>
    <div class="form">
      <input type="text" placeholder="Username">
      <input type="password" placeholder="Password">
      <input type="submit" value="Sign In" class="submit">
    </div>
  </div> -->