<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href="static/css/style.css" >
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/alexmendezf/image/upload/v1576607241/final/icon.png">  
    <title>Salva un peludo</title>
</head>
<body>
    <h1 class="title_home">Fotos cargadas!</h1>
    <!-- <form method="POST" enctype="multipart/form-data">
        <input type="file" name="photos" multiple>
        <input type="submit" value="Submit">
    </form>  -->
    <form class="form_but"  method="POST" enctype="multipart/form-data">
        <label class="but_red" for="file"> <p class="lc">Select files</p></label>
        <input id="file" class="inputfile" type="file" name="photos" multiple />
        <label class="but_red" for="upload"> <p class="lc">Upload</p></label>
        <input class="inputfile" id="upload" type="submit"/>
      </form>
</body>
</html>